body {
    background-color: #222222;
    color: #888888;
    font-family: "Arial", sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
}

a {
    color: #888888;
}

.links {
    text-align: center;
    line-height: 25px;
}

.index_links {
    text-align: justify;
    margin: 0 auto;
    width: 3.5em;
}

.pre_links_padding {
    margin-bottom: 30px;
}

.more_soon {
    margin-top: 30px;
    font-size: 75%;
    /*text-align: center;*/
}