body {
    background-color: #222222;
    color: #888888;
    font-family: "Arial", sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
}

a {
    color: #888888;
}

#links {
    text-align: center;
}